<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" th:each="producto: ${producto}">1</th>
      <td th:text="${producto.nombre}"></td>
      <td th:text="${producto.precio}"></td>
      <td><a th:href="@{'/productos/ '+ ${producto.id}}">Detalle</a></td>
    </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>